<div class="" style="margin-top: 100px;">
<!-- <% 3.times do%>
<div class="row">
  <% 3.times do %>

         <div class="col s12 m4">
           <div class="card" style="background-color: #ECECEC; border-radius: 0px; box-shadow: 0 0 0 0;">
             <div class="card-image">

               <%= image_tag "profile-card-image.jpg", style: "padding: 15px; margin-bottom: -20px;" %>
             </div>
             <div class="card-content">
                <p style="color: purple">Most Recent / Current Role</p>
                <p> Office Clerk </p>
                <p style="color: purple"> skills</p>
                <p> Creative | Inquisitive | Organized <p>
             </div>
             <div class="card-action center-align" style="
              background: red; /* For browsers that do not support gradients */
              background: -webkit-linear-gradient(left, #3EBEAA, #98CD72); /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(right, #3EBEAA, #98CD72); /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(right, #3EBEAA, #98CD72); /* For Firefox 3.6 to 15 */
              background: linear-gradient(to right, #3EBEAA , #98CD72); /* Standard syntax */;
            ">

               <%= link_to "Fiona", pages_profile_path, class: 'white-text' %>
             </div>
           </div>
         </div>

  <% end %>
</div>
<% end %> -->

    <div class="row">
    
    <div class="col m12">
      <div class="row">
        <div class="col s12 m4" >
          <a href="<%= profile_path %>">
            <img class="card-style" src="<%= asset_path 'Fiona-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="<%= profile2_path %>">
            <img class="card-style" src="<%= asset_path 'Kam-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="<%= profile3_path %>">
            <img class="card-style" src="<%= asset_path 'Dyllan-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="/">
            <img class="card-style" src="<%= asset_path 'Fiona-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="/">
            <img class="card-style" src="<%= asset_path 'Fiona-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="/">
            <img class="card-style" src="<%= asset_path 'Fiona-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="/">
            <img class="card-style" src="<%= asset_path 'Fiona-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="/">
            <img class="card-style" src="<%= asset_path 'Fiona-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
        <div class="col s12 m4" >
          <a href="/">
            <img class="card-style" src="<%= asset_path 'Fiona-profile-card.png'%>" alt="" width="100%" >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
